.header-container.eCommerce .header-top-block1, .header-container.eCommerce .header-top-block2 {
  height: 45%; }
.header-container.eCommerce .dark-ribbon {
  background: none;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#858585+0,323232+100 */
  background: #858585;
  /* Old browsers */
  background: -moz-linear-gradient(top, #858585 0%, #323232 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #858585), color-stop(100%, #323232));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #858585 0%, #323232 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #858585 0%, #323232 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #858585 0%, #323232 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #858585 0%, #323232 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#858585', endColorstr='#323232',GradientType=0 );
  /* IE6-9 */
  height: 115px;
  color: #fff; }
  .header-container.eCommerce .dark-ribbon .logo {
    padding: 0; }
.header-container.eCommerce .header-top {
  padding: 10px 0; }
.header-container.eCommerce .searchbar-block .searchbar-content {
  background: none; }
  .header-container.eCommerce .searchbar-block .searchbar-content label {
    display: none; }
.header-container.eCommerce .searchbar-block .search-input {
  width: 94%; }
.header-container.eCommerce .searchbar-block input {
  height: 40px;
  border: none; }
.header-container.eCommerce .searchbar-block button span span {
  height: 40px;
  font-size: 18px; }
  .header-container.eCommerce .searchbar-block button span span:content {
    content: "\f002"; }
.header-container.eCommerce .top-nav-container {
  padding-top: 28px; }
  .header-container.eCommerce .top-nav-container ul li {
    padding: 0 15px; }
    .header-container.eCommerce .top-nav-container ul li a {
      text-transform: uppercase;
      font-weight: normal;
      font-size: 13px; }
.header-container.eCommerce .welcome-message-block {
  line-height: inherit; }
.header-container.eCommerce .summary-cart-icon {
  margin-left: 10px; }
  .header-container.eCommerce .summary-cart-icon a {
    color: #fff; }
  .header-container.eCommerce .summary-cart-icon span {
    margin-left: 5px; }
    .header-container.eCommerce .summary-cart-icon span.nr-items {
      background: #fff;
      color: #000;
      border-radius: 20px;
      padding: 5px 8px; }
