.categorypromoheader{
	margin-bottom: 20px;
}
.categorypromoheader.layoutcontainer{
	width:100%;
	height:415px;
	padding:0px;
}
.categorypromoheader .setdetails{
	float:right;
	width:465px;
}
.categorypromoheader .blocks,.categorypromoheader .blocks-preview{
	display:inline-block;
	*zoom:1;
	*display:inline;
	position:relative;
	border:1px solid #ccc;
}
.categorypromoheader .caroufredsel_wrapper {
	margin: 0 !important;
}
/* position */
.promoheader_left{
	float:left;
}
.promoheader_right{
	float:right;
}
.promoheader_bottom{
	bottom:0px;
	position:absolute;
	margin:0px 0 20px;
	width:100%;
}
.promoheader_top{
	top:0px;
	position:absolute;
	margin:0px 0 20px;
	width:100%;
}
.categorypromoheader .imagetext,.categorypromoheader .slide-text{
	clear:both;
	float:left;
	margin-bottom: 10px;
}
.categorypromoheader .button{
	margin-bottom: 0px;
}
/*  end position */

/* new position for image details */
.categorypromoheader .promodetails{
	position:absolute;
	padding:20px;
}
.categorypromoheader .promodetails.positionLeftBottom{
	bottom:0px;
	
	text-align:left;
}
.categorypromoheader .promodetails.positionRightBottom{
	bottom:0px;
	right:0;
	text-align:right;
}
.categorypromoheader .promodetails.positionLeftTop{
	top:0;
	left:0;
}
.categorypromoheader .promodetails.positionRightTop{
	text-align:right;
	right:0;
}
.categorypromoheader .promodetails.positionTopCenter{
	text-align:center;
	width:100%;
}
.categorypromoheader .promodetails.positionBottomCenter{
	text-align:center;
	bottom:0;
	width:100%;
}
.categorypromoheader .promodetails.positionCenter{
	text-align:center;
	width:100%;
	top:50%;
}

/*slideshow */
.categorypromoheader .slideshow {
    	position:relative;
	overflow:hidden;
	z-index:0;
}

.categorypromoheader .slideshow .promoslides .item{
	position:relative;
}
.categorypromoheader .slideshow .caroufredsel_wrapper,
.categorypromoheader .slideshow .promoslides,
.categorypromoheader .slideshow .promoslides .item{
	height:100% !important;
	width:100% !important;margin:0;
}

.categorypromoheader .pagination{
	position: absolute;
	z-index: 1;
	padding-top: 8px;
	bottom: 0px;
	height: 30px;
	opacity: .5;
	padding-left: 10px;
}
.categorypromoheader .pagination a{
	display:inline-block;
	padding:4px 0px;
	text-align: center;
	background-color:#aaa;
	text-indent: -9999px;
	border-radius: 10px;
	height: 10px;
	width: 10px;
	margin: 0 2px;
}

.categorypromoheader .pagination a.selected{
	background-color:#222;
}
.categorypromoheader .slideshow .prev{
	position:absolute;
	top:50%;
	left:0;
	z-index:1;
}
.categorypromoheader .slideshow .next{
	position:absolute;
	top:50%;
	right:0;
	z-index:1;
}

/* details slideshow positions */
.categorypromoheader .slide-text,
.categorypromoheader .slideshow .dynamic-button-text{
	padding:20px;
	position:absolute;
}
.categorypromoheader .slideshow .TopCenter{
	top:0; text-align:center;
	width:100%;
}
.categorypromoheader .slideshow .BottomCenter{
	bottom:0;!important; text-align:center;
	width:100%;
}
.categorypromoheader .slideshow .RightBottom{
	bottom:0; text-align:right;
	right:0;
}
.categorypromoheader .slideshow .LeftBottom{
	bottom:0; text-align:left;
	left:0;
}
.categorypromoheader .slideshow .RightTop{
	top:0; text-align:right;
	right:0;
}
.categorypromoheader .slideshow .LeftTop{
	top:0; text-align:left;
	left:0;
}
/****/
.categorypromoheader .imagetext span,.categorypromoheader  .slide-text span{
    color: #FFFFFF;
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
    padding-bottom: 10px;
    /*text-shadow: 2px 1px 10px #838383;*/
    text-shadow:0 3px 3px rgba( 0, 0, 0, 0.3 ), 0 -3px 3px rgba( 0, 0, 0, 0.3 ), 3px 0 3px rgba( 0, 0, 0, 0.3 ), -3px 0 3px rgba( 0, 0, 0, 0.3 );
  
}
.categorypromoheader  span.btn-red{
	width: auto;
	background: url("../../images/red_button.png") no-repeat scroll 0 0px transparent;
	color: #FFFFFF;
	font: bold 12px/19px Arial,Helvetica,sans-serif;
	padding: 4px 0 5px 3px;
	text-align: center;
	white-space: nowrap;	
}
.categorypromoheader  span.btn-red span{
	background: url("../../images/red_button.png") no-repeat ;
	background-position: 100% 0px;
	border: 0 none;
    	padding: 4px 10px 5px 8px;
}
.categorypromoheader  .dynamic-button-text button {
	cursor:pointer;
	background:none;
	border:none;
	padding:0;
	margin:0;
	height:33px;
	box-shadow:none;
}

.categorypromoheader  #media iframe{
	height:100%;
	width:100%;
}
/* Layout 1**** */
.categorypromoheader .Layout1{
	max-height: 450px;
	height: 100%;
	width: 100%;
	/*overflow: hidden;*/
}
.categorypromoheader  .Layout1 .promo-image{
	height:100%; width:100%;
}

.categorypromoheader  .Layout1 .orbit-caption{
	position: absolute;
	width: 100%;
	height: 430px;
	top: 0px;
}

.categorypromoheader .Layout1 .slideshow .dynamic-button-text.RightBottom,
.categorypromoheader .Layout1 .slideshow .dynamic-button-text.LeftBottom,
{
	bottom:15px;
}
.categorypromoheader  .blank .Layout1 {
	background-color:#ffe49d;
}

/***** end layout 1 ***/


/*layout 2 */
.categorypromoheader  .Layout2{
	width:32.85%;
	height:100%;	
}

.categorypromoheader  .blank	.Layout2 {
	background-color:#a2d6a8;
}

/* layout 3 */
.categorypromoheader  .Layout3{
	float: left;
	height:100%;
	margin: 0 5px 0px 0;
	width: 49.5%;
}
.categorypromoheader  .Layout3._block2{
	width:49.5%;
	height:100%;
	float:none;	
	margin:0px;
	
}
.categorypromoheader  .blank .Layout3 	{
	background-color:#c7bfb9;
}
/* layout 4 */
.categorypromoheader  .Layout4{
	width:49.5%;
	height:100%;	
}
.categorypromoheader  .Layout4._block1,
.categorypromoheader  .Layout4._block3{
	height:49.5%;
	vertical-align:top;
}
.categorypromoheader  .Layout4._block3{
	position:absolute;
	bottom:0;
}
.categorypromoheader  .blank .Layout4 {
	background-color:#d1ae6e;
}
.categorypromoheader  .blank .Layout4._block2,.blank .Layout4._block4 {
	background-color:#c8beab;
}
/* layout 5 */
.categorypromoheader .Layout5{
	height:100%;
	width:100%;	
}

.categorypromoheader .Layout5.blocks-preview{
	display:inline-block;
	height: 46.5%;
	margin: 0px 10px 10px 0;
	width: 49%;
	vertical-align:top;
	float:left
}
.categorypromoheader .Layout5._block2{
	margin-right:0px;
}
.categorypromoheader .Layout5._block4{
	margin-right:0px;
}

/* layout 6*/
.categorypromoheader  .blank .layout6 {
	background-color:#97d4a4;
}
.categorypromoheader  .blank .layout6._block2{
	line-height:5em;
	background:#fdcba3;
}
.categorypromoheader .Layout6{	
	float: left;
	height: 49.3%;
	margin: 0 0px 5px 0;
	width:32.85%;
}
.categorypromoheader .Layout6._block2{
	margin:0 5px 5px;
}
.categorypromoheader .Layout6._block4{
	width:100%;
}
/* layout 7 */
.categorypromoheader  .blank .layout7{
	background:#eced94;
}
.categorypromoheader  .blank .Layout7{
	line-height:3.5em;
}
.categorypromoheader  .blank .layout7._block4{
	line-height:2em;
	background:#b7b8bd
}
.categorypromoheader .Layout7{	
	float: left;
	height: 49.3%;
	margin: 0 0px 5px 0;
	width:32.85%;
}
.categorypromoheader .Layout7._block2,
.categorypromoheader .Layout7._block5{
	margin: 0 5px 5px;
}
/*** end layout **/

.categorypromoheader .block-details{
	border:1px solid #ccc;
	margin-bottom:10px;
	padding:5px;
}
.categorypromoheader .blank div {
	font-size:60px;
	text-align:center;
	line-height:5.5em;
}
.blank div.layout3,.blank div.layout4,.blank div.layout6{
	line-height:2.5em;
}

/* backend */
div.blockno{
	position:absolute;
	font-size:16px;
	text-shadow: -1px 0 3px #CCCCCC;
	margin-left:10px;
	margin-top:10px;
	color:#fff;
	background:#000;
	padding:1px 3px;
	z-index:999;
}

table.slide{
	border:1px solid #dbdbdb;
	margin-bottom:10px;
	padding:10px;
}
.deleteslide{
	background:none;
	border:none;
	background:url('../../images/cancel_icon.gif') no-repeat;
	width:20px;
	height:20px;
}
/* end backend */

