body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 14px; }

.no-bullet {
  list-style: none;
  margin: 0; }

.inline {
  display: inline-block;
  vertical-align: top; }

.orange_bg {
  background-color: #c55b31; }

.orange_color {
  color: #c55b31; }

.blue_bg {
  background-color: #75a8c9; }

.blue_color {
  color: #75a8c9; }

.incra-left {
  float: left !important; }

.incra-right {
  float: right !important; }

.incra-text-left {
  text-align: left !important; }

.incra-text-right {
  text-align: right !important; }

.incra-text-center {
  text-align: center !important; }

.clearfix:before {
  content: " ";
  display: table; }
.clearfix:after {
  content: " ";
  display: table;
  clear: both; }

.padd {
  padding: 10px; }

.padd-2x {
  padding: 15px; }

.padd-3x {
  padding: 20px; }

.padd-4x {
  padding: 30px; }

.color-black {
  color: black !important; }

.topnav {
  position: relative;
  padding: 5px 10px;
  background-color: #c55b31;
  display: block;
  height: 10px; }

.logo {
  position: relative;
  float: left;
  padding: 0; }
  .logo img {
    margin: 0;
    padding: 18px 0;
    text-align: center; }

.logo_text {
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
  vertical-align: super;
  font-weight: bold;
  color: #4e4e4e;
  padding: 32px 0 0; }

.nav-bar {
  position: relative;
  padding: 0;
  background: #404040;
  border: none;
  /*height: 28px;*/
  border-top: 1px solid #2d444f;
  border-bottom: 1px solid #2d444f; }
  .nav-bar ul {
    list-style: none; }

.manual-information {
  position: relative;
  padding: 0; }
  .manual-information p {
    font-size: 18px;
    color: #4e4e4e;
    margin: 0;
    padding: 0;
    line-height: 3em;
    font-weight: bold; }
    .manual-information p:hover {
      color: #e5550e; }

.top-navigation {
  float: right; }

#nav {
  margin-bottom: 0; }

#content_container {
  min-height: 400px; }

.wrapper {
  overflow: hidden; }

.man-tree-container {
  float: left; }

.man-content-container {
  float: right; }

.man-tree-container,
.man-content-container {
  /*padding-bottom: 99999px;
  margin-bottom: -99999px;*/ }

.man-tree-container {
  padding-top: 10px;
  height: 100%;
  /*height: 500px;*/
  overflow: auto; }
  .man-tree-container .toggle-collapse {
    cursor: pointer; }
  .man-tree-container .root-list .item {
    line-height: 1.2; }
    .man-tree-container .root-list .item a {
      color: #222222;
      font-size: 13px;
      line-height: 1.75em; }
      .man-tree-container .root-list .item a:hover {
        color: #ff6600; }
      .man-tree-container .root-list .item a.active {
        font-weight: bold; }
    .man-tree-container .root-list .item .fa {
      font-size: 11px; }
    .man-tree-container .root-list .item .children {
      margin-left: 12px; }
      .man-tree-container .root-list .item .children li {
        line-height: 1;
        min-width: 250px; }
      .man-tree-container .root-list .item .children .man-link.active {
        font-weight: bold; }

.man-content-container {
  overflow: auto;
  min-height: 500px;
  padding-top: 5px;
  text-align: left; }
  .man-content-container > h6 {
    border-bottom: 1px solid #c55b31; }
  .man-content-container .doc .short-desc {
    color: #999;
    padding-left: 15px;
    font-weight: bold; }
  .man-content-container .doc .long-desc {
    background: beige;
    padding: 5px 10px; }
  .man-content-container .doc h2 {
    font-size: 20px;
    font-weight: bold;
    color: #c55b31; }
  .man-content-container .doc h3 {
    font-size: 16px;
    font-weight: 700;
    margin-top: 35px; }
  .man-content-container .scope-description {
    font-size: 14px;
    color: #777777; }
  .man-content-container .text-left {
    padding-left: 10px; }
  .man-content-container .inline-list {
    margin: 0 auto 1.0625rem auto;
    margin-left: -1.375rem;
    margin-right: 0;
    padding: 0;
    list-style: none;
    overflow: hidden; }
  .man-content-container section {
    color: #333; }
    .man-content-container section h2 {
      font-size: 20px;
      font-weight: bold;
      color: #c55b31; }
    .man-content-container section p {
      font-size: 14px;
      line-height: 1.5em; }
  .man-content-container #main_content {
    width: 100%;
    padding: 0; }
    .man-content-container #main_content h6 {
      font-size: 12px; }
    .man-content-container #main_content .tabs-content {
      border-top: 1px solid #cccccc;
      margin-top: -2px;
      /*height: 330px;*/
      margin-bottom: 0;
      overflow: auto; }
      .man-content-container #main_content .tabs-content .short-desc {
        color: #999;
        padding-left: 15px;
        font-weight: bold; }
      .man-content-container #main_content .tabs-content table {
        width: 100%; }
        .man-content-container #main_content .tabs-content table td {
          border: none;
          /*font-size: 11px;*/
          font-weight: normal;
          line-height: 1.5em;
          font-size: 80%; }
          .man-content-container #main_content .tabs-content table td a {
            color: #c55b31;
            /*font-size: 11px;*/
            font-weight: normal; }
        .man-content-container #main_content .tabs-content table thead tr th {
          padding: 5px 10px;
          /*font-size: 10px;*/ }
      .man-content-container #main_content .tabs-content .replacer-link.active {
        font-weight: bold; }
      .man-content-container #main_content .tabs-content h3 {
        font-size: 14px;
        font-weight: bold;
        border-bottom: 1px solid #EEE;
        padding-bottom: 10px; }
    .man-content-container #main_content .content-list {
      border-right: 1px solid #e5e5e5; }
      .man-content-container #main_content .content-list table th {
        font-size: 80%; }
    .man-content-container #main_content .replacer-details {
      /*height: 380px;
      overflow: auto;*/
      position: absolute;
      right: 0;
      top: 0; }
      .man-content-container #main_content .replacer-details ul.list-man {
        border: none; }
    .man-content-container #main_content .leftsidebarfixed {
      position: fixed;
      top: 0;
      right: 0; }
    .man-content-container #main_content .long-desc {
      background: beige;
      padding: 5px 10px; }
    .man-content-container #main_content .description {
      font-size: 12px; }
      .man-content-container #main_content .description p {
        /*font-size: 12px;*/ }
      .man-content-container #main_content .description table {
        width: 99%;
        margin: 20px 0; }
        .man-content-container #main_content .description table th {
          /*font-size: 10px;*/
          vertical-align: top;
          padding: 10px; }
        .man-content-container #main_content .description table td {
          /*font-size: 11px;*/
          padding: 10px;
          vertical-align: top; }
    .man-content-container #main_content.sticky-content {
      position: fixed;
      width: 375px;
      margin-top: -100px; }
    .man-content-container #main_content .tabs .tab-title {
      width: auto;
      padding-bottom: 0;
      border-bottom: 1px solid #cccccc; }
      .man-content-container #main_content .tabs .tab-title a {
        color: #404040;
        padding: 10px 20px; }
      .man-content-container #main_content .tabs .tab-title.active {
        border-bottom: 1px solid white;
        outline: 0; }
        .man-content-container #main_content .tabs .tab-title.active a {
          outline: 0;
          border-left: 1px solid #cccccc;
          border-right: 1px solid #cccccc;
          border-top: 1px solid #cccccc; }
    .man-content-container #main_content .replacer-data-parameter .highlight-value {
      color: #c55b31; }
  .man-content-container .tables-graph h5 {
    color: #c55b31; }
  .man-content-container .tables-graph table tbody tr {
    background: none; }
  .man-content-container .scopes_list li {
    min-width: 210px;
    list-style: none;
    vertical-align: top; }
    .man-content-container .scopes_list li a {
      color: #222222;
      /*font-size: 12px;*/ }
      .man-content-container .scopes_list li a:hover {
        color: #ff6600; }
  .man-content-container .google-visualization-orgchart-table tbody tr {
    background: none; }

/* navigation */
nav {
  padding: 0 12px; }

nav.stick {
  position: fixed;
  top: 0;
  z-index: 10000;
  margin-top: 12px;
  overflow-y: scroll;
  overflow-x: scroll; }

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

nav li a {
  color: #323232;
  font-weight: 700; }

a.nav-active {
  color: #ccc !important; }
