/*
*		Renders a 2 column layout containing left content and main content cms page.
*
*/
/** -------------------------------------------------------------------
Name:              2ColumnsLeft.CmsPage
Location:          /Html/CmsPage/Layout/2ColumnsLeft.CmsPage.html
Created By:        Leslie Canete
Created At:        06-Okt-2014 18:55 (relocation first 15 models)
Last modified By:  Seth Malaki
Last modified At:  21-Okt-2014 17:09 (myupdates on addingComments)
Possible call:    FeaturedPage 	
Calling blocks:    breadcrumb 	footer 	header 	leftColumn 	mainContent 	notification 	
--------------------------------------------------------------------**/


<div class="page">
	[?CmsPage.Header|Yes=
	[:header]
	]
	<div class="two-columns-left">
		<div class="row">
			[?CmsPage.Header|Yes=
				[:breadcrumb]
			]
			<div class="large-12 columns">
				<div class="left-content large-3 medium-3 small-12 columns grid-col2-sidebar no-gutter">
					[?CmsPage.LeftCol|Yes=
						[:leftColumn]
						]
				</div>
				<div class="main-content large-9 medium-9 small-12 columns grid-col2-main no-gutter">
					[:notification]
					[:mainContent]
				</div>
			</div>
			<br style="clear:both;"/>
		</div>
	</div>
	[?CmsPage.Footer|Yes=
	[:footer]
	]
</div>

