/*
*	Renders a 2 column layout containing right content and main content cms page.
*
*/
/** -------------------------------------------------------------------
Name:              2ColumnsRight.CmsPage
Location:          /Html/CmsPage/Layout/2ColumnsRight.CmsPage.html
Created By:        Leslie Canete
Created At:        06-Okt-2014 18:55 (relocation first 15 models)
Last modified By:  Seth Malaki
Last modified At:  21-Okt-2014 17:09 (myupdates on addingComments)
Calling blocks:    breadcrumb 	footer 	header 	mainContent 	notification 	rightColumn 	
--------------------------------------------------------------------**/


<div class="page">
	[?CmsPage.Header|Yes=
	[:header]
	]
	<div class="two-columns-right">
		<div class="row">
			[?CmsPage.Header|Yes=
				[:breadcrumb]
			]
			<div layout-block-name="main_column" class="main-content large-9 medium-9 small-12 columns grid-col2-main no-gutter">
					[:notification]
					[:mainContent]
			</div>
			<div layout-block-name="right_column" class="right-content large-3 medium-3 small-12 columns grid-col2-sidebar no-gutter">
				[?CmsPage.RightCol|Yes=
				[:rightColumn]
				]
			</div>
			<br style="clear:both;"/>
		</div>
	</div>
	[?CmsPage.Footer|Yes=
	[:footer]
	]
</div>
