/*
*		Renders a 3 column layout containing left, right content and main content cms page.
*
*/
/** -------------------------------------------------------------------
Name:              3Columns.CmsPage
Location:          /Html/CmsPage/Layout/3Columns.CmsPage.html
Created By:        Leslie Canete
Created At:        06-Okt-2014 18:55 (relocation first 15 models)
Last modified By:  Seth Malaki
Last modified At:  21-Okt-2014 17:09 (myupdates on addingComments)
Calling blocks:    breadcrumb 	footer 	header 	leftColumn 	mainContent 	notification 	rightColumn 	
--------------------------------------------------------------------**/


<div class="page">
	[?CmsPage.Header|Yes=
	[:header]
	]
	<div class="three-columns">
		<div class="row">
			[?CmsPage.Header|Yes=
				[:breadcrumb]
			]	
			<div class="off-canvas-wrap">
				<div class="inner-wrap">
					<section class="main-section">
						<div class="left-content small-3 columns grid-col3-sidebar no-gutter">
							[?CmsPage.LeftCol|Yes=
							[:leftColumn]
							]
						</div>
						<div class="main-content small-6 columns grid-col3-main no-gutter">
							[:notification]
							[:mainContent]
						</div>
						<div class="right-content small-3 columns grid-col3-sidebar no-gutter">
							[?CmsPage.RightCol|Yes=
							[:rightColumn]
							]
						</div>
					</section>
				</div>
			</div>
		</div>
	</div>
	[?CmsPage.Footer|Yes=
	[:footer]
	]
</div>