/*
*		Renders the 3 columns layout containing mainContent, left and right column, loads for most of the pages.  This can be enherited on per model basis.
*
*/
/** -------------------------------------------------------------------
Name:              3Columns
Location:          /Html/General/Layouts/3Columns.html
Created By:        Leslie Canete
Created At:        06-Okt-2014 14:51 (relocating)
Last modified By:  Seth Malaki
Last modified At:  23-Okt-2014 17:52 (myupdates in adding comments)
Calling blocks:    breadcrumb 	Footer 	header 	leftColumn 	mainContent 	notification 	rightColumn 	
--------------------------------------------------------------------**/
<div class="wrapper"> 
	<div class="page">
		[:header]
		<div class="three-columns">
			<div class="row">				
				<div class="off-canvas-wrap">
					<div class="inner-wrap">
						<nav class="tab-bar show-for-small-only">
					      <section class="left-small">
					        <a class="left-off-canvas-toggle menu-icon" ><span></span></a>
					      </section>
					    </nav>
						<aside class="left-off-canvas-menu">
							
						</aside>
						<section class="main-section">
							<div layout-block-name="left_column" class="left-content medium-3 large-3 columns grid-col3-sidebar no-gutter hide-for-small">
								[:leftColumn]
							</div>
							[:breadcrumb]
							<div layout-block-name="main_column" class="main-content small-12 medium-6 large-6 columns grid-col3-main no-gutter">							
								[:notification]
								[:mainContent]
							</div>
							<div layout-block-name="right_column" class="right-content medium-3 large-3 columns grid-col3-sidebar no-gutter hide-for-small">
								[:rightColumn]
							</div>
							
						</section>
						<a class="exit-off-canvas"></a>
					</div>					
				</div>				
			</div>		
		</div>	
		[:Footer]	
	</div>
</div>