/*
*		Renders a two columns page containgin left column and main content.
*
*/
/** -------------------------------------------------------------------
Name:              2ColumnsLeft.Customer
Location:          /Html/Customer/Layout/2ColumnsLeft.Customer.html
Created By:        Leslie Canete
Created At:        06-Okt-2014 18:55 (relocation first 15 models)
Last modified By:  Seth Malaki
Last modified At:  21-Okt-2014 18:53 (myupdates in addingComments)
Possible call:    FeaturedPage 	
Calling blocks:    breadcrumb 	footer 	header 	leftColumn 	notification 	
Calling unknown:   mainContent.Customer[Url.View] 	
--------------------------------------------------------------------**/

<div class="page">
	[:header]
	<div class="two-columns-left">
		<div class="row">
			
			<div class="left-content large-3 medium-3 small-12 columns grid-col2-sidebar no-gutter">
				[:leftColumn]
			</div>
			<div class="main-content large-9 medium-9 small-12 columns grid-col2-main no-gutter">
				[:breadcrumb]
				[:notification]
				[:mainContent.Customer[Url.View]]
			</div>
		</div>
	</div>
	[:Footer]
</div>

